*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: freshman, roboto;
}

.mySlides {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50px;
}

/* headstyle */
.fcontainer {
    display: flex;
    justify-content: top;
    align-items: top;


}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: black;
}

.logo {
    display: flex;
    width: 100px;
    height: 100px;
}

.flogo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    font-weight: 100px;
    padding-left: 4px;
}

.brand {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.brand>li>img {
    width: 50px;
    height: 50px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-content: center;
}

.navigation>li {
    list-style-type: none;
    padding: 30px;
}

.navigation>li>a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;

}

.navigation>li>a:hover {
    color: red;
}

/* PRODUCTS */
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #ff7d7d;
    color: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
    align-items: baseline;

}

.product-brand {
    text-transform: uppercase;
    font-size: medium;
    font-weight: 500;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
    align-items: baseline;

}

.price {
    font-weight: 200;
    font-size: 18px;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
}

.gap2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: freshman;
}

/* stylecontent2 */
.container-contentIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 900px;
    margin: 20px auto;
    padding: 5px;
    flex-wrap: wrap;
}

.iconCard {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 3px 5px 10px 1px rgba(186, 166, 166, 0.83);
    -webkit-box-shadow: 3px 5px 10px 1px rgba(186, 166, 166, 0.83);
    -moz-box-shadow: 3px 5px 10px 1px rgba(186, 166, 166, 0.83);
}

.iconCard:hover {
    width: 220px;
    height: 220px;
    margin: 3px;

}

.material-icons.md-48 {
    font-size: 48px;
}

.iconName {
    display: flex;
    flex-direction: column;

}

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
}

.footerMark {
    font-family: roboto;
    font-size: medium;
    color: white;

}

.containerContentDaftar {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}